[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"
jupyter = "*"
jupyterlab = "*"
PyInstaller = "*"

[packages]
numpy = "*"
pandas = "*"
opencv-python = "*"
tqdm = "*"

[requires]
python_version = "3.7"
